<?php

use PedroTroller\CS\Fixer\ConfigurationBuilder;

return PhpCsFixer\Config::create()
    ->setRiskyAllowed(true)
    ->setRules(array_merge(
        ConfigurationBuilder::buildCustomConfiguration(),
        ConfigurationBuilder::php(5.6)
    ))
    ->setUsingCache(true)
    ->registerCustomFixers(new PedroTroller\CS\Fixer\Fixers())
    ->setFinder(
        PhpCsFixer\Finder::create()->in(__DIR__)
    )
;
