<?php

use PedroTroller\CS\Fixer\ConfigurationBuilder;

$config = PhpCsFixer\Config::create()
    ->setRiskyAllowed(true)
    ->setRules(ConfigurationBuilder::buildCustomConfiguration())
    ->setUsingCache(false)
    ->registerCustomFixers(new PedroTroller\CS\Fixer\Fixers())
    ->setFinder(PhpCsFixer\Finder::create()->in(__DIR__))
;

return $config;
