---
plugins:
  -
    - '@semantic-release/commit-analyzer'
    - releaseRules:
        - type: feat
          release: minor
        - type: fix
          scope: deps
          release: minor
        - type: fix
          scope: deps-dev
          release: false
        - type: refactor
          release: false
        - scope: chore
          release: false
  - '@semantic-release/release-notes-generator'
  - '@semantic-release/github'
