parameters:
    level: max
    paths:
        - src
        - tests
    strictRules:
        allRules: false
        booleansInLoopConditions: true
        closureUsesThis: true
        disallowedBacktick: true
        disallowedImplicitArrayCreation: true
        disallowedLooseComparison: true
        illegalConstructorMethodCall: true
        matchingInheritedMethodNames: true
        requireParentConstructorCall: true
        strictArrayFilter: true
        strictFunctionCalls: true
        switchConditionsMatchingType: true
        disallowedShortTernary: true
        dynamicCallOnStaticMethod: true
        numericOperandsInArithmeticOperators: true
        overwriteVariablesWithLoop: true
