---
version: 2.1

orbs:
  node: circleci/node@4.2.1

install_composer: &install_composer
  run: |
    apt-get update
    apt-get -y install git zip
    php -r "copy('https://getcomposer.org/installer', 'composer-setup.php');"
    php composer-setup.php
    php -r "unlink('composer-setup.php');"
    mv composer.phar /usr/local/bin/composer

composer_update_with_lowest_dependencies: &composer_update_with_lowest_dependencies
  run: |
    composer update --prefer-lowest --prefer-stable

composer_update: &composer_update
  run: |
    composer update

tests: &tests
  run: |
      composer test -vvv
      bin/doc
      PHP_CS_FIXER_IGNORE_ENV=1 composer run php-cs-fixer || (echo "Coding standards are not respected. Run 'composer run php-cs-fixer'" && exit 1)

tests_with_future_mode: &tests_with_future_mode
  run: |
      PHP_CS_FIXER_FUTURE_MODE=1 composer test -vvv
      bin/doc
      PHP_CS_FIXER_IGNORE_ENV=1 composer run php-cs-fixer || (echo "Coding standards are not respected. Run 'composer run php-cs-fixer'" && exit 1)

jobs:
  tests:
    parameters:
      php-version:
        type: string
    docker:
      - image: "php:<< parameters.php-version >>"
    steps:
      - checkout
      - <<: *install_composer
      - <<: *composer_update
      - <<: *tests

  tests-with-future-mode:
    parameters:
      php-version:
        type: string
    docker:
      - image: "php:<< parameters.php-version >>"
    steps:
      - checkout
      - <<: *install_composer
      - <<: *composer_update
      - <<: *tests_with_future_mode

  tests-with-lowest-dependencies:
    parameters:
      php-version:
        type: string
    docker:
      - image: "php:<< parameters.php-version >>"
    steps:
      - checkout
      - <<: *install_composer
      - <<: *composer_update_with_lowest_dependencies
      - <<: *tests

  documentation:
    parameters:
      php-version:
        type: string
    docker:
      - image: "php:<< parameters.php-version >>"
    steps:
      - checkout
      - <<: *install_composer
      - <<: *composer_update
      - run: bin/doc > README.new.md
      - run: cmp --silent README.md README.new.md || cmp README.md README.new.md || (echo "Documentation is outdated. Run 'bin/doc > README.md'" && exit 1)

  release-test:
    executor:
      name: node/default
    steps:
      - checkout
      - node/install-packages
      - run: node_modules/.bin/semantic-release --dry-run

  release:
    executor:
      name: node/default
    steps:
      - checkout
      - node/install-packages
      - run: node_modules/.bin/semantic-release

workflows:
  version: 2
  PR:
    jobs:
      - documentation:
          matrix:
            parameters:
              php-version: ["8.2"]
      - tests:
          matrix:
            parameters:
              php-version: ["8.0", "8.1", "8.2"]
      - tests-with-future-mode:
          matrix:
            parameters:
              php-version: ["8.0", "8.1", "8.2"]
      - tests-with-lowest-dependencies:
          matrix:
            parameters:
              php-version: ["8.0", "8.1", "8.2"]
      - release-test
      - release:
          requires:
            - release-test
            - documentation
            - tests
            - tests-with-future-mode
            - tests-with-lowest-dependencies
          filters:
            branches:
              only:
                - master
